
/* #region footer */

.footer-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-bottom: 18px;
}

.footer-link-icon {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-footer {
  fill: #edfffc;
  stroke-width: 2px;
  stroke: #02897a;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-container-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  /* margin-bottom: 8px; */
}

.footer-container-form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}

.footer-container-form-title-customer {
  margin-bottom: 34px;
}

.footer-container-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}

.footer-container-logo {
  margin-right: auto;
}

.footer-container-resource-legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 325px;
}

.footer-form-input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.footer-form-input-wrapper-customer {
  margin-bottom: 21px;
}

.icon-mobile-phone {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #02897a;
}

.footer-form-input {
  outline: transparent;
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  background-color: #fff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.footer-form-input-customer {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-form-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.footer-end-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #22343d;
}

/* #endregion footer */





/* CUSTOMERS */

/* #region customers clients */
.section-clients {
  padding: 100px 0 117px;
}

.section-clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
}

.section-clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}

/* #endregion customers clients */


/* #region customers choose-product*/
.section-choose-product {
  padding: 24px 0 68px;
  background: #f5f5f5;
}

.section-choose-product-container {
  max-width: 1155px;
}

.section-choose-product-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.span-three-customer {
  background-color: #f03e3d;
}

.section-choose-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 40px 50px;
  width: calc((100% - 60px)/3);
}

.section-choose-product-item-text {
  text-align: center;
}

/* #endregion customers choose-product*/



/* #region customers product-work*/

.section-product-work {
  padding: 101px 0 115px;
}

.section-product-work-title {
  margin-bottom: 73px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.section-product-work-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 78px;
}

.section-product-work-list-item {
  display: flex;
  justify-content: center;
}

.section-product-work-wrapper {
  max-width: 387px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-product-work-wrapper-one {
  margin-left: 89px;
}

.section-product-work-wrapper-two {
  margin-right: 76px;
}

.section-product-work-wrapper-three {
  margin-left: 88px;
}

.section-product-work-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.section-product-work-list-item-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

/* #endregion customers product-work*/


/* #region customers received-offers*/
.section-received-offers {
  padding: 35px 0 45px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.section-received-offers-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 537px;
  margin: 0 auto 93px;
}

.section-received-offers-list {
  margin-bottom: 195px;
  display: flex;
  justify-content: center;
  gap: 227px;
}

.section-received-offers-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-received-offers-list-item-span {
  margin-bottom: 27px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-received-offers-list-item-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 16px;

}

.received-offers-list-item-subtitle-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #22343d;
}

.received-offers-list-item-subtitle-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  margin-top: 12px;
}

/* #endregion customers received-offers*/




/* PRICING */



/* #region section eight */


.section-eight-pricing {
  padding: 50px 0 150px;
}

.section-eight-pricing-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 32px;
}

.section-eight-pricing-title-text {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-eight-pricing-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #22343d;
    margin-bottom: 49px;
}

/* #endregion section eight */



/*#region pricing-enterprise */

.section-pricing-enterprise {
  padding: 53px 0 51px;
}

.section-pricing-enterprise-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
  text-align: center;
}

.section-pricing-enterprise-subtitle {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}

.section-pricing-enterprise-text {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 32px;
  text-align: center;
}

.section-pricing-enterprise-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
}

/*#endregion pricing-enterprise */




/*#region pricing enterpreneur */

.section-pricing-enterpreneur {
  padding: 294px 0 6px;
}

.section-pricing-enterpreneur-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 56px;
  text-align: center;
}

.section-pricing-enterpreneur-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.section-pricing-enterpreneur-wrapper-two {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 16px;
}

.section-pricing-enterpreneur-span {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f4f5f7;
}

.section-pricing-enterpreneur-item-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}

.section-pricing-enterpreneur-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d
}

/*#endregion pricing enterpreneur */



/*#region pricing question*/

.section-pricing-question-container {
  max-width: 855px;
}

.title-section-pricing-question {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}

.text-section-pricing-question {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}

.section-pricing-question-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.section-pricing-question-item-title {
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}

.section-pricing-question-item-text {
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  margin-top: 14px;
}

.section-pricing-question-summary {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.section-pricing-question-summary::before {
  content: '';
  background-image: url('../images/pricing/plus-circle.png');
  width: 24px;
  height: 24px;
  display: block;
}

details[open] .section-pricing-question-summary::before {
  background-image: url('../images/pricing/minus-circle.png');
}

/*#endregion pricing question */